name: "Browserslist: Regex"

permissions: {}

on:
  schedule:
    - cron: "0 0 * * 2" # Every Tuesday at 00:00 AM UTC on the default branch
  workflow_dispatch:

jobs:
  browserslist-regex:
    uses: dargmuesli/github-actions/.github/workflows/browserslist-regex.yml@a28ad8d1bb0c4ce7faf46e16951e3f17a2d461f5 # 4.0.2
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    with:
      DIRECTORY: src/
      OUTPUT_PATH: app/supportedBrowsers.js
      UBUNTU_DEPENDENCIES: mkcert
      UBUNTU_REPOSITORIES: universe
