name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    permissions:
      pull-requests: read
  release_semantic_dry:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Release (semantic, dry)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    permissions:
      contents: write
      id-token: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    with:
      APT_PACKAGES: mkcert
      DRY_RUN: true
  build:
    name: Build
    uses: dargmuesli/github-actions/.github/workflows/docker.yml@6b7b210e819a456abfe4c7929f884ca8ca305520 # 4.0.0-beta.1
    needs: release_semantic_dry
    permissions:
      packages: write
    with:
      BUILD_ARGUMENTS: ${{ (needs.release_semantic_dry.outputs.new_release_version != null) && format('RELEASE_NAME={0}', needs.release_semantic_dry.outputs.new_release_version) || '' }}
      TAG: ${{ (needs.release_semantic_dry.outputs.new_release_version != null) && needs.release_semantic_dry.outputs.new_release_version || '' }}
    secrets:
      BUILD_ARGUMENTS: SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
  release_semantic:
    needs: build
    name: Release (semantic)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    permissions:
      contents: write
      id-token: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    with:
      APT_PACKAGES: mkcert
